html{
  scroll-behavior: smooth;
}

html, body{
  background: #FFFFFF;
}

.top{
  height: 2000px;
}

.affix{
  padding: 0;
  background-color: #000000;
}

.nav{
  position: fixed;
  z-index: 999;
}

.sort{
  
}
