@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
footer {
    padding: 60px -10px;
    padding-top: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: "impact";
}

#footer {
    background: #F2DEDE;
}

#footer p{
  font-size: 36px;
  color: #720039;
}


#footer p a:hover{
  font-size: 36px;
}

@media screen and (max-width:768px){
  #footer p{
    font-size: 16px;
  }
}

#footer h5{
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #720039;
}
#footer a {
    color: #720039;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
	font-size:45px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:50px;
	margin-top:-50px;
	margin-bottom:-50px;
}
