html{
  scroll-behavior: smooth;
}

.home {
  background-image: url(../source/img/home.jpg);
}

h1, h2{
  font-size: 100px;
  color: black;
  text-align: center;
  font-family: fantasy;
}

.title{
  color: #FFFF99;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.more-info{
  color: whitesmoke;
  font-size: 50px;
  border-radius: 15px;
}

.chuma{
    width: 100%;
    height: 100vh;
    background-image: url(../source/img/chuma.jpg);
    background-position: center top;
	  background-size:cover;
}

.back-1{
  width: 100%;
  height: 100vh;
  background-image: url(../source/img/back-1.jpg);
  background-position: center top;
  background-size:cover;
}

.back-2{
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-size:cover;
}

.back-3{
  width: 100%;
  height: 100vh;
  background-image: url(../source/img/back-4.jpg);
  background-position: center top;
  background-size:cover;
}

.logo{
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    background-image: url(../source/img/logo-white.xcf);
}

.under{
  padding-top: 30vh;
}

.block{
  height: 100vh;
  background-color: whitesmoke;
}

.map{
  height: 75vh;
  width: 100%;
  margin-bottom: -5px;
}

.block-map, .block-news{
  padding-top: 65px;
  padding-bottom: 2vh;
}

.block-map .card,
.block-news .card{
  border-radius: 15px;
}

.home-screen{
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: fantasy;
  padding-left: 70px;
}

.notebook{
  width: 100%;
  height: 100vh;
  background-image: url(../source/img/notebook.jpg);
  background-position: center top;
  background-size:cover;
}

.news{
  height: 75vh;
  width: 100%;
}

.news-1{
  width: 100%;
  height: 75vh;
  background-image: url(../source/img/football-cb.jpg);
  background-position: center top;
  background-size:cover;
}

.news-2{
  width: 100%;
  height: 75vh;
  background-image: url(../source/img/monalisa-cb.jpg);
  background-position: center top;
  background-size:cover;
}

.news-3{
  width: 100%;
  height: 75vh;
  background-image: url(../source/img/work.jpg);
  background-position: center top;
  background-size:cover;
}

h5{
  font-size: 70px;
}

h5 a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.news-1 p,
.news-2 p,
.news-3 p{
  font-size: 35px;
}

p.h6{
  font-size: 35px;
}

.pointer{
  cursor: pointer;
}

@media screen and (max-width:768px){
  .block{
    height: 1400px;
  }

  .block-map, .block-news{
    padding-top: 0;
  }

  .under{
    padding-top: 70vh;
  }
  .home-screen{
    padding-left: 20px;
    font-size: 25px;
  }

  a.glo{
    margin-left: 20px;
    width: auto;
  }

  .logo{
    flex: auto !important;
    text-align: center !important;
    float: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: 600;
  }

  .nav{
    padding: 0;
    position: absolute;
  }

  .back-3{
    background-position: 20%;
  }

  .notebook{
    height: 700px;
    background-position: 43%;
  }

  h5{
    font-size: 40px;
  }

  .news-1 p,
  .news-2 p,
  .news-3 p{
    font-size: 20px;
  }

  p.h6{
    font-size: 22px;
  }

  .map,
  .news,
  .news-1,
  .news-2,
  .news-3{
    height: 525px;
  }
}

@media screen and (min-width:768px)
{
  .affix{
    padding: 0;
    background-color: #111;
  }

  .nav{
    position: fixed;
    z-index: 999;
  }
}
