html{
  scroll-behavior: smooth;
}

.home {
  background-image: url(../source/img/home.jpg);
}

h1{
  font-size: 100px;
  padding-top: 200px;
  color: white;
  text-align: center;
  font-family: fantasy;
}

.title{
  color: #FFFF99;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.more-info{
  color: whitesmoke;
  font-size: 50px;
  border-radius: 15px;
}

.chuma{
    width: 100%;
    height: 100vh;
    background-image: url(../source/img/chuma.jpg);
    background-position: center top;
	  background-size:cover;
}

.back-1{
  width: 100%;
  height: 100vh;
  background-image: url(../source/img/back-1.jpg);
  background-position: center top;
  background-size:cover;
}

.back-2{
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-size:cover;
}

.back-3{
  width: 100%;
  height: 100vh;
  background-image: url(../source/img/back-4.jpg);
  background-position: center top;
  background-size:cover;
}

.logo{
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    background-image: url(../source/img/logo-white.xcf);
}

.under{
  padding-top: 30vh;
}
