html{
  scroll-behavior: smooth;
}

html, body{
  background: #F2DEDE;
}

.top{
  height: 50px;
}

.affix{
  padding: 0;
  background-color: #F2DEDE;
}


h1{
  padding-top: 70px;
  text-align: center;
  font-size: 50px;
  font-family: "flow";
}

p{
  font-family: "flow";
  font-size: 20px;
  text-align: justify;
  width: 100%;
}

.top-70{
  padding-top: 70px;
}

iframe{
  border-radius: 30px;
}
