.header{
  position: sticky;
  width: 100%;
  background-color: #007765;
}

body{
  height: 1200px;
  background-color: black;
}

.links a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  color: whitesmoke!important;
}

.links a:hover{
  color: rgba(255,255,255,.5);
}

.links ul{
  position: sticky;
  width: 100%;
}

.logo{
  padding-top: 10px;
}
