html{
  scroll-behavior: smooth;
}

body{

}

.logo{
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    background-image: url(../source/img/logo-white.xcf);
}

.top{
  height: 200px;
}
