html{
  scroll-behavior: smooth;
}

.top{
  height: 2000px;
  width: auto;
}

.old img{
  height: 60vh;
}

.title{
  font-size: 65px;
  font-family: "rosvigts";
  font-style: normal;
  font-weight: normal;
  color: #4D4242;
  text-align: center;
}

.quote{
  font-size: 35px;
  font-family: "imperial";
  font-style: normal;
  font-weight: normal;
  color: #4d4242;
  padding-top: 40px;
  text-align: center;
}

.shadow-lite{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25),
               -1px 1px 4px rgba(0, 0, 0, 0.25);
}

.shadow-pro{
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
               -4px 4px 4px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width:768px){
  .title{
    font-size: 45px;
  }

  .quote{
    font-size: 22px;
    padding-top: 20px;
  }

  .old img{
    height: 100vw;
    padding-top: 20px;
  }
}
