.html{
  scroll-behavior: smooth;
}

.foto{
  width: 100%;
  height: 700px;
}

.first-row{
  height: 450px;
}

.first-row-left-column{
  background-color: darkcyan;
  padding: 0, -15;
}

.first-row-right-column{
  background-color: darksalmon;
  padding-left: 15;
}

.header{
  background-color: none;
}

.title{
  color: darkorange;
  background-color: bisque;
  height: 100px;
}

h1{
  font-size: 100px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
