html{
  scroll-behavior: smooth;
}

body{
  background-color: #F4F6B5;
}
.top{
  height: 2000px;
}

.back-top{
    width: 100%;
    height: 100vh;
    background-image: url(../src/back-top.jpg);
    background-position: center top;
	  background-size:cover;
}

.top-text{
  font-size: 200px;
  font-family: "rosvigts";
  padding-top: 250px;
  text-align: center;
  color: #ffffff;
}
